/* SIGN IN FORM */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* INDEX PAGE */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* user-tasks-page */
div.task-priority-pointer {
	display:inline-block; 
	width:10px; 
	height:10px;
}

.VERY_HIGH {
	background: #FF4136;
}

.HIGH {
	background: #FF851B;
}

.MIDDLE {
	background: #FFDC00;
}

.LOW {
	background: #2ECC40;
}

.VERY_LOW {
	background: #01FF70;
}

#priority option.priority-very-high:before {
    content: " ";
    height: 10px;
    width: 10px;
    display: inline-block;
	background: #FF4136;
	margin-right:5px;
}

#priority option.priority-high:before {
    content: " ";
    height: 10px;
    width: 10px;
    display: inline-block;
	background: #FF851B;
	margin-right:5px;
}

#priority option.priority-middle:before {
    content: " ";
    height: 10px;
    width: 10px;
    display: inline-block;
	background: #FFDC00;
	margin-right:5px;
}

#priority option.priority-low:before {
    content: " ";
    height: 10px;
    width: 10px;
    display: inline-block;
	background: #2ECC40;
	margin-right:5px;
}

#priority option.priority-very-low:before {
    content: " ";
    height: 10px;
    width: 10px;
    display: inline-block;
	background: #01FF70;
	margin-right:5px;
}